name: Deploy Automatically to VPS

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: SSH and Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          debug: true
          script: |
            # Navigate to the app directory
            cd ../apps/razvan-dev

            # 1. Update the source code
            git fetch origin main
            git reset --hard origin/main

            # 2. Install dependencies
            npm ci

            # 3. Build the Next.js application
            npm run build

            # 4. Restart the application with PM2
            pm2 restart razvan-dev

            echo "Deployment complete!"
